<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Phudu&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header {% if 'mode' in request.COOKIES %} class="dark_header" {% endif %}>
        <h1 class="phudu">HOME</h1>
        
        <nav>
            <a href="{%url 'cooky:home_view'%}">Home</a>
            <a href="{%url 'cooky:property_view'%}">Properties</a>
            <a href="{%url 'cooky:contact_view'%}">Services</a>
            <a href="{%url 'cooky:contact_view'%}">About</a>
            <a href="{%url 'cooky:contact_view'%}">Contact</a>
        </nav>

        <section>
            <a href="">
                <span class="material-symbols-outlined">person</span>
            </a>
            <a href="">Sign up</a>
            <a href="{%url 'cooky:light_view'%}?next={{request.path}}">
                <span class="material-symbols-outlined {% if not 'mode' in request.COOKIES %} active-mode {% endif %}">light_mode</span>
            </a>
            <a href="{%url 'cooky:dark_view'%}?next={{request.path}}">
                <span class="material-symbols-outlined {% if 'mode' in request.COOKIES %} active-mode {% endif %}">dark_mode</span>
            </a>
        </section>
    </header>

    <!-- <main> -->
    {% block content %}

    {% endblock %}
    <!-- </main> -->

    <footer {% if 'mode' in request.COOKIES %} class="dark_footer" {% endif %}></footer>
</body>
</html>