{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Using google fonts to import icons-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm align-items-center">
            <div class="container flex-sm-column flex-lg-row justify-content-evenly my-2">
                <a class="navbar-brand fs-1 f-phudu" href="#">Home</a>
                <ul class="nav navbar-nav px-5 py-2 bg-light shadow rounded-pill f-ubuntu">
                    <li class="nav-item">
                        <a class="nav-link linkHover" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkHover" href="">Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkHover" href="">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkHover" href="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkHover" href="">Contact</a>
                    </li>
                </ul>
                <div
                    class="flex-sm-column flex-lg-row px-3 py-2 bg-light shadow rounded-pill f-ubuntu justify-content-evenly">
                    <i class="bi bi-person p-2"></i>
                    <a class="btn p-2 linkHover" href="">Sign up</a>
                    <i class="bi bi-brightness-high p-2"></i>
                    <i class="bi bi-moon p-2"></i>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <nav class="navbar navbar-expand-sm align-items-center fixed-bottom">
            <div class="container flex-sm-column justify-content-evenly my-2">
                <ul class="nav navbar-nav px-4 py-2 bg-light shadow rounded-pill f-phudu">
                    <li class="nav-item flex-column text-center mx-4">
                        <a class="material-symbols-outlined p-2 text-decoration-none rounded-pill allicon" href="">house</a>
                        <a class="nav-link" href="">All</a>
                    </li>
                    <li class="nav-item flex-column text-center mx-4">
                        <a class="material-symbols-outlined p-2 text-decoration-none rounded-pill propertiesicon" href="">apartment</a>
                        <a class="nav-link" href="">Properties</a>
                    </li>
                    <li class="nav-item flex-column text-center mx-4">
                        <a class="material-symbols-outlined p-2 text-decoration-none rounded-pill hotelicon" href="">hotel</a>
                        <a class="nav-link" href="">Hotel</a>
                    </li>
                    <li class="nav-item flex-column text-center mx-4">
                        <a class="material-symbols-outlined p-2 text-decoration-none rounded-pill villaicon" href="">villa</a>
                        <a class="nav-link" href="">Villa</a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>