{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contact Us{% endblock %}</title>

    <style>
    .contact-section {
    padding: 60px;
    background-image: url("{% static 'images/email.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black; /* Adjust text color for contrast */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    min-height: 100vh; /* Ensure the section takes full height */
}
h1{
    text-align: left;
}

    </style>
</head>
<body>
<main>
    <h1>Contact Us</h1>
    <section class="contact-section">
        
        <div class="contact-info">
            <div class="contact-details">
                <p><strong>TELEPHONE:</strong> <a href="tel:+96657263883764" class="contact-link">+966 57263883764</a></p>
                <p><strong>EMAIL:</strong> <a href="mailto:info@realestate.com" class="contact-link">info@realestate.com</a></p>
                <p><strong>ADDRESS:</strong></p>
                <p>ANAS BIN MALIK, RIYADH<br>
                BUILDING W-112<br>
                SAUDI ARABIA</p>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3625.2073602624964!2d46.675295!3d24.7742655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f0202e9176b01%3A0x4f394b41b6f84c29!2sRiyadh!5e0!3m2!1sen!2ssa!4v1698874600000!5m2!1sen!2ssa"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</main>
{% endblock %}

</body>
</html>