{% extends 'main/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact-section">
    <h2>Contact Us</h2>
    <div class="contact-container">
        <div class="contact-info">
            <p><strong>TELEPHONE:</strong> <a href="tel:+9665726383764">+966 5726383764</a></p>
            <p><strong>EMAIL:</strong> <a href="mailto:info@realestate.com">info@realestate.com</a></p>
            <p><strong>ADDRESS:</strong><br>
                Anas Bin Malik, Riyadh<br>
                Building W-112<br>
                Saudi Arabia
            </p>
        </div>
        <div class="contact-map">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.1378814884977!2d46.657518875070136!3d24.734952584137944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f035fcf7e9efb%3A0x6bf4a5deea92a8be!2sPark%20Avenue%20Mall!5e0!3m2!1sen!2ssa!4v1669734598435!5m2!1sen!2ssa" 
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
{% endblock %}