{%  extends 'main/controllight.html'%}
{% block content %}
{%load static%}
<link href="https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap" rel="stylesheet">        
    <section class="style-home">
        <div>
            <h1 class="style-font-h1-f">FIND YOUR<br>DREAMS</h1>
        </div>
                  
        <div class="me-text-phrease">
            Our catalog will surprise you. Rather, discover an unprecedented offers of luxury properties. Our<br> 
            catalog will surprise you. Rather, discover an unprecedented offers of luxury properties.
        </div>
            <a href="#" class="btn-text-Explore-Properties">Explore Properties</a>
    </section>
{% endblock %}
