{% extends 'main/base.html' %}


{%block title%}Home{% endblock %}


{%block content%}
<div class="home_content">
    <h1>FIND YOUR DREAMS</h1>
    <pre>Our catalog will surprise you. Rather,dicover and unprecendented offersw of luxury properties.Our
catalog will surprise you. Rather,dicover and unprecendented offersw of luxury properties.
    </pre>
    <a href="{% url 'main:properties_view' %}">Explore Properties</a>
    </div>
    <div class="bottom_nav">
        <nav>
            <div class="icon_text house_icon">
                <a href=""><span class="material-symbols-outlined">house</span></a>
                <p>ALL</p>
            </div>

            <div class="icon_text properties_icon">
                <a href=""><span class="material-symbols-outlined">factory</span></a>
                <p>PROPERTIES</p>
            </div>
            
            <div class="icon_text hotel_icon">
                <a href=""><span class="material-symbols-outlined">hotel</span></a>
                <p>HOTEL</p>
            </div>

            <div class="icon_text villa_icon">
               
                <a href=""><span class="material-symbols-outlined">villa</span></a>
                <p>VILLA</p>
            </div>
            
        </nav>
</div>
{% endblock %}