{% extends 'main/base.html' %}
{% block body_class %}fourth{% endblock %}
{% block naver %}nav-dark{% endblock %}
{% block content %}

<section class="hero">
    <h1>FIND YOUR DREAMS</h1>
    <p>Our catalog will surprise you. Discover unparalleled offers on luxury properties.</p>
    <a href="{% url 'properties' %}" class="explore-button">Explore Properties</a>
</section>

    <footer>
        <div class=" footer-dark">
            <ul class="footer-ul">
                <li><i class="fas fa-home"></i><span>ALL</span></li>
                <li><i class="fas fa-building"></i><span>PROPERTIES</span></li>
                <li><i class="fas fa-hotel"></i><span>HOTEL</span></li>
                <li><i class="fas fa-home-lg-alt"></i><span>VILLA</span></li>
            </ul>
        </div>
    </footer>
{% endblock %}