* {
    margin: 0px;
    padding: 0px;
    font-family: "Phudu", sans-serif;
    box-sizing: border-box;

}

/* Base Styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 8rem 2rem 8rem;
    align-items: center;

}
.light-wrapper .home-icon-link {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
}

.dark-wrapper .home-icon-link {
    text-decoration: none;
    color: white;
    padding: 0 2rem;
}

.light-wrapper .home-icon-link:hover, .dark-wrapper .home-icon-link:hover {
    transition: all 0.4s ease-in;
    transform: scale(1.1);
    color: red;
}

.home-icon {
    font-size: 40px;
    font-weight: 500;
}
.light-wrapper .top-nav-bar{
    display: flex;
    flex-direction: row;
    background-color: white;

    border-radius: 60px;
    padding: 0.6rem 2rem;
}
.dark-wrapper .top-nav-bar{
    display: flex;
    flex-direction: row;
    background-color: black;

    border-radius: 60px;
    padding: 0.6rem 2rem;
}

.light-wrapper .top-nav-bar a {
    text-decoration: none;
    color: black;
    padding: 0.8rem 2rem;
    font-size: 14px;
    font-weight: 500;
}
.dark-wrapper .top-nav-bar a {
    text-decoration: none;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 14px;
    font-weight: 500;
}

.light-wrapper .top-nav-bar a:hover, .dark-wrapper .top-nav-bar a:hover {
    transition: all 0.4s ease-in;
    transform: scale(1.1);
    color: red;
}

.page-settings{
    display: flex;
    flex-direction row;
    align-items: center;
}
.light-wrapper .page-settings a, .light-wrapper .page-settings span {
    padding: 0.3rem;

}
.light-wrapper .page-settings a:hover, .light-wrapper .page-settings span:hover, .dark-wrapper .page-settings a:hover, .dark-wrapper .page-settings span:hover{
    color: red;
    cursor: pointer;
    transition: all 0.25s ease-in;
    transform: scale(1.1);
}
.dark-wrapper .page-settings a, .dark-wrapper .page-settings span {
    padding: 0.3rem;
    color: white;
}
.light-wrapper .active-mode {
    background-color: white;
    border-radius: 50%;

}
.dark-wrapper .active-mode {
    background-color: black;
    border-radius: 50%;

}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 40rem;
}
.light-wrapper .bottom-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;

    border-radius: 80px;
    padding: 0.5rem 2.3rem;
    width: 40%;
}
.dark-wrapper .bottom-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;

    border-radius: 80px;
    padding: 0.5rem 2.3rem;
    width: 40%;
}
.bottom-nav-bar div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 90px;

}
.bottom-nav-bar div a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;


}
.bottom-nav-bar div span{

    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 7px;

}

.green span {
    background-color: rgba(0,255,0,0.3);
    color: rgb(0,256,0);
}
.green a {
    color: rgb(0,255,0);
}
.orange span {
    background-color: rgba(218, 154, 25, 0.3);
    color: rgb(218, 154, 25);
}
.orange a {
    color: rgb(218, 154, 25);
}
.pink span {
    background-color: rgba(197, 76, 199, 0.42);
    color: rgb(197, 76, 199);
}
.pink a {
    color: rgb(197, 76, 199);
}
.purple span {
    background-color: rgba(95, 45, 205, 0.6);
    color: rgb(95, 45, 205);
}
.purple a {
    color: rgb(95, 45, 205);
}

.light-wrapper {
    /* Set minimum height to fill viewport */
    min-height: 100vh;
    width: 100%;

    /* Background image setup */
    background-image: url('/static/images/skyscraper.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
}
/* end light base page styles */
.dark-wrapper {
    /* Set minimum height to fill viewport */
    min-height: 100vh;
    width: 100%;

    /* Background image setup */
    background-image: url('/static/images/skyscraper-dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
}

/* main page styles */
main {
    padding: 0;
    margin: 0;
}

.light-wrapper .title {

    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10rem;
    width: 70%;
    color: black;
}
.dark-wrapper .title {

    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 10rem;
    width: 70%;
    color: white;
}

.title h1 {
    font-weight: 500;
    font-size: 7.8rem;
    animation: scaleIn 0.7s ease-in;
}

.title p {
    font-size: 18px;
    padding: 2rem 6px;
}
.title a {
    padding-left: 6px;
}
.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 7px 28px;
}
.btn:hover {
    cursor: pointer;
    transition: all 0.15s ease-in;
    transform: scale(1.04);
    color:red;


}


@keyframes scaleIn {
     0% {
         opacity: 0;
         transform: scale(0);
     }
     10% {
         transform: scale(0.1);
     }
     20% {
         transform: scale(0.2);
     }

     60% {
         transform: scale(0.3);
     }
     70% {
         transform: scale(1.1);
     }

     100% {
         opacity: 1;
         transform: scale(1);
     }
 }

/* Properties page Styles */

.props-container {
    display:flex;
    flex-direction: column;
    margin: 3rem;
    border-radius: 10%;
    width: 100%;

}
.prop-item {
    display:flex;
    flex-direction: column;
    border-radius: 10%;
    min-height: 30%;
    margin: 3rem;
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: #7b7b7b;
}
.prop-item img{
    width: 30px;
    border-radius: 10%;
    padding-bottom: 5rem;
}
.prop-item .prop-title{

    padding: 10px;
    z-index: 1;

}