@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Phudu:wght@300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.f-phudu {
    font-family: 'Phudu', sans-serif;
}

.f-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

/*Base styling*/
.lightlinks {
    text-decoration: none;
    color: rgb(47, 47, 47);
}

.darklinks {
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.activeicondark {
    background-color: rgba(62, 62, 62, 0.652);
    color: lightgray;
}

.activeiconlight {
    background-color: rgba(211, 211, 211, 0.723);
    color: rgb(53, 53, 53);
}

.linkHover:hover {
    color: rgb(84, 145, 205);
    font-size: 1.1em;
    transition: all 0.3s;
}

.container .logohover {
    font-size: 2.5em;
}

.container .logolight {
    color: rgb(53, 53, 53);
}

.container .logodark {
    color: rgb(250, 243, 238);
}

.container .logohover:hover {
    color: rgb(70, 118, 185);
    font-size: 3em;
    transition: all 0.3s;

}

/*Home page styling*/
.homelightbody {
    background: url('../images/skyscraper.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.homedarkbody {
    background: url('../images/skyscraper-dark.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.allicon {
    color: #23b506;
    background-color: #23b50647;
}

.propertiesicon {
    color: #b77710;
    background-color: #b7771047;
}

.hotelicon {
    color: #c814c0;
    background-color: #c814bf46;
}

.villaicon {
    color: #1216c4;
    background-color: #1215c443;
}

.hometitlelight {
    font-size: 5em;
    font-weight: 600;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.742);
    animation: titlemove 2s ease-in;
}

.hometitledark {
    font-size: 5em;
    font-weight: 600;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.849);
    animation: titlemove 2s ease-in;
}

.homedescriptionlight {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.3em;
    color: rgba(29, 29, 29, 0.868);
}

.homedescriptiondark {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.3em;
    color: rgba(252, 250, 250, 0.934);
}

/* Animation */
@keyframes titlemove {
    0%{
        opacity: 0;
        transform: translate(20%, -25%) scale(0.2);
    }

    50%{
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

}

/* Properties page styling*/
.lightbody{
    background-color: rgb(243, 238, 228);
}

.darkbody{
    background-color: rgb(22, 22, 24);
}